*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Orbitron", sans-serif;
}

body{

background:radial-gradient(circle at top,#0f172a,#020617);

color:white;

}

/* HEADER */

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:#020617;

border-bottom:1px solid #0ea5e9;

}

.logo{

font-size:28px;

letter-spacing:2px;

}

.logo span{

color:#0ea5e9;

}

/* NAV */

nav a{

margin-left:25px;

text-decoration:none;

color:white;

transition:0.3s;

}

nav a:hover{

color:#0ea5e9;

}

/* HERO */

.hero{

height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h2{

font-size:60px;

color:#0ea5e9;

text-shadow:0 0 20px #0ea5e9;

}

.hero p{

margin-top:10px;

opacity:0.7;

}

/* BUTTON */

.play-btn{

margin-top:25px;

padding:14px 35px;

border:none;

background:#0ea5e9;

color:white;

font-size:16px;

cursor:pointer;

border-radius:8px;

box-shadow:0 0 20px #0ea5e9;

transition:0.3s;

}

.play-btn:hover{

transform:scale(1.1);

box-shadow:0 0 40px #0ea5e9;

}

/* GAMES */

.games{

padding:60px;

text-align:center;

}

.games h2{

margin-bottom:40px;

color:#0ea5e9;

}

/* GRID */

.game-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

}

/* CARD */

.game-card{

padding:30px;

background:#020617;

border:1px solid #0ea5e9;

border-radius:10px;

transition:0.3s;

}

.game-card:hover{

transform:translateY(-10px);

box-shadow:0 0 25px #0ea5e9;

}